* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: content-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

button {
    &:hover {
        cursor: pointer;
    }
}
