@import "@/styles/utils.scss";

.search_wrapper {
    position: relative;

    width: auto;
    height: 45px;

    input[type="text"] {
        box-sizing: border-box;
        position: absolute;

        width: 100%;
        height: 100%;

        padding: 0px 20px;
        border-radius: 45px;
        border: 1px solid #cecece;

        font-size: 1rem;
    }
    button[type="submit"] {
        position: absolute;
        top: 1px;
        right: 10px;

        width: 45px;
        height: 100%;

        border-radius: 45px;

        background: none;

        svg {
            color: #999999;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.input[type="text"],
.input[type="password"] {
    display: block;
    height: 50px;

    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 0px 20px;

    &:focus {
        outline: none !important;
        border: 2px solid $color-primary;
    }
}
.input[type="submit"] {
    display: block;
    height: 50px;

    border-radius: 10px;
    padding: 0px 20px;

    color: #fff;
    background-color: $color-primary;
}
