@import "@/styles/utils.scss";

.search_wrapper {
    position: relative;

    width: auto;
    height: 45px;

    input[type="text"] {
        box-sizing: border-box;
        position: absolute;

        width: 100%;
        height: 100%;

        padding: 0px 20px;
        border-radius: 45px;
        border: 1px solid #cecece;

        font-size: 1rem;
    }
    button[type="submit"] {
        position: absolute;
        top: 1px;
        right: 10px;

        width: 100%;
        height: 50px;

        border-radius: 45px;

        background: none;

        svg {
            color: #999999;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.input[type="text"],
.input[type="password"] {
    display: block;
    height: 50px;

    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 0px 20px;

    font-size: 1rem;

    &:focus {
        outline: none !important;
        border: 2px solid $color-primary;
    }
}
.input[type="submit"] {
    display: block;
    height: 50px;

    border-radius: 10px;
    padding: 0px 20px;

    font-weight: bold;
    color: #fff;
    background-color: $color-primary;
}
.input[type="checkbox"] {
    width: 20px;
    height: 20px;

    border: none;
    border-radius: 7px;
    accent-color: $color-primary;
}

.label {
}

.btn_default {
    display: block;

    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.btn_primary_stroke {
    border: 2px solid $color-primary;
    color: $color-primary;
    background-color: #fff;
}
.btn_primary_fill {
    color: #fff;
    background-color: $color-primary;
}

.social_login_btn {
    box-sizing: border-box;
    flex-grow: 1;

    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;

    padding: 10px 20px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;

    background-color: #fff;

    img{
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    p{
        width: 100%;
        color: #767676;
        font-weight: bold;
    }
    &:hover{
        cursor: pointer;
    }
}