@import "@/styles/utils.scss";

.nav_wrapper {
    display: flex;
    gap: 10px;

    height: 120px;

    .logo {
        flex-grow: 1;
        @include place-center;
    }
    .search {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .auth {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

.header {
    @include wrapper;
}
